/*The following is for the style for the contact form*/
/*The following is for the font and color of the header which is contact form*/
h3{
    font-style:oblique;
    Color:orange;
}  
/*The following is for the surrounding border of the header*/
.header{
    color:black;
    border:2px outset black;
    height:100%;
    border-left: black 2px solid;
    width: 500px;
    padding-left: 10px;
    background-color: green;
} 
/*The following moves the the header of the contact form to the center of it*/
.move{
    margin-left: 20px;   
}  
/*The following is for the surrounding border of the content of the contact form*/
.content{
    color:black;
    border:2px outset Black;
    height:100%;
    border-left: black 2px solid;
    width: 500px;
    padding-left: 10px;
    background-color: yellow;
}
/*The following is for the finsished button and pushes it to the far right side of the contact form*/
.finished{
    margin-left: 300px
}
